path_to_folder_asset = "path/to/.asset/file"
path_to_moves = "path/to/move"
path_to_folder_back = "path/to/back/sprite/folder"
path_to_folder_front = "path/to/front/sprite/folder"

# Serialized file information
file_id_script = "found on line 12 in .asset file"
guid_script = "found on line 12 in .asset file"
file_id_sprite = "found on like 16 or 17 in .asset file" 